[Unit]
Description=Moonwatch.rs daemon

[Service]
ExecStart=%h/.moonwatch-rs/moonwatcher %h/.moonwatch-rs/config.json
ExecReload=kill -HUP $MAINPID

[Install]
WantedBy=graphical-session.target
